<?xml version="1.0"?> 
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_essentials" > 


  <xacro:macro name="driver" params="">
<!-- JOINT PUBLISHER -->
  <gazebo>
    <plugin name="robot_joint_states" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
          <remapping>~/out:=robot_joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>

      <joint_name>left1_wheel_joint</joint_name>
      <joint_name>left2_wheel_joint</joint_name>
      <joint_name>left3_wheel_joint</joint_name>
      <joint_name>left4_wheel_joint</joint_name>
      <joint_name>right1_wheel_joint</joint_name>
      <joint_name>right2_wheel_joint</joint_name>
      <joint_name>right3_wheel_joint</joint_name>
      <joint_name>right4_wheel_joint</joint_name>
      
    </plugin>
  </gazebo>

  <!-- Differential drive -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="base_gazebo_ros2_control">
      <parameters>$(find robot_description)/config/mobile_manipulator_controller_config.yaml</parameters>
    </plugin>
  </gazebo>
</xacro:macro>

	 <!-- Front camera -->

    <gazebo reference="front_camera_link">
        <sensor name="front_camera" type="camera">
          <camera>
            <horizontal_fov>1.46608</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
              <format>R8G8B8</format>
            </image>
          </camera>
          <plugin name="front_camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>base/front_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>rgb_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>
  
	 <!-- Rear camera -->

    <gazebo reference="rear_camera_link">
        <sensor name="rear_camera" type="camera">
          <camera>
            <horizontal_fov>1.46608</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
              <format>R8G8B8</format>
            </image>
          </camera>
          <plugin name="rear_camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>base/rear_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>rgb_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>


  	 <!-- Left camera -->

    <gazebo reference="left_camera_link">
        <sensor name="left_camera" type="camera">
          <camera>
            <horizontal_fov>1.46608</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
              <format>R8G8B8</format>
            </image>
          </camera>
          <plugin name="left_camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>base/left_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>rgb_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>

 
	 <!-- Right camera -->

    <gazebo reference="right_camera_link">
        <sensor name="right_camera" type="camera">
          <camera>
            <horizontal_fov>1.46608</horizontal_fov>
            <image>
              <width>320</width>
              <height>240</height>
              <format>R8G8B8</format>
            </image>
          </camera>
          <plugin name="right_camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>base/right_camera</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>rgb_camera_link_frame</frameName>
            <hackBaseline>0.07</hackBaseline>
          </plugin>
        </sensor>
    </gazebo>

  
  <!-- hokuyo -->
 
  <!-- Sensors -->

  <gazebo reference="front_hokuyo">
    <sensor name="front_sensor_ray" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <samples>200</samples>
              <resolution>1.0</resolution>
              <min_angle>-1.57</min_angle>
              <max_angle>1.57</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>5.0</max>
          </range>
        </ray>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>100.0</update_rate>
        <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>front</namespace>
            <remapping>~/out:=front_scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
	</gazebo>

  <gazebo reference="rear_hokuyo">
    <sensor name="rear_sensor_ray" type="ray">
        <pose>0 0 0 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <samples>200</samples>
              <resolution>1.0</resolution>
              <min_angle>-1.57</min_angle>
              <max_angle>1.57</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>5.0</max>
          </range>
        </ray>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>100.0</update_rate>
        <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>rear</namespace>
            <remapping>~/out:=rear_scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
        </plugin>
      </sensor>
	</gazebo>
  


</robot>
