<?xml version="1.0"?> 
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="IMU" > 


<xacro:macro name="base_IMU"> 
  
 <!-- FRONT CAMERA --> 
  
  <joint name="base_IMU_joint" type="fixed">
    <axis xyz="0 0 0" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_IMU_link"/>
  </joint>

  <link name="base_IMU_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
     <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>



</xacro:macro>


</robot> 
