<?xml version="1.0"?> 

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_description"> 
    <xacro:include filename="$(find robot_description)/urdf/robot_base.xacro" />
    <xacro:include filename="$(find arm_pkg)/urdf/a0912.urdf.xacro" />
    <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper_macro_gz.urdf.xacro" />


    <xacro:robot_base namespace=""/>
    <xacro:manipulator namespace=""/>
    
    <joint name="manipulator_fixed" type="fixed">
        <origin xyz="0 0 0.20" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="base_0"/>
    </joint>


    <xacro:robotiq_85_gripper prefix="" parent="link6" >
       <origin xyz="0.0 0 0.0" rpy="0 -1.57 1.57"/>
    </xacro:robotiq_85_gripper>

</robot> 
