<?xml version="1.0"?> 
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="gazebo_essentials" > 


  <xacro:macro name="driver" params="">
<!-- JOINT PUBLISHER -->
  <gazebo>
    <plugin name="robot_joint_states" filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
          <remapping>~/out:=robot_joint_states</remapping>
      </ros>
      <update_rate>30</update_rate>

      <joint_name>left1_wheel_joint</joint_name>
      <joint_name>left2_wheel_joint</joint_name>
      <joint_name>left3_wheel_joint</joint_name>
      <joint_name>left4_wheel_joint</joint_name>
      <joint_name>right1_wheel_joint</joint_name>
      <joint_name>right2_wheel_joint</joint_name>
      <joint_name>right3_wheel_joint</joint_name>
      <joint_name>right4_wheel_joint</joint_name>
      
    </plugin>
  </gazebo>

  <!-- Differential drive -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="base_gazebo_ros2_control">
      <parameters>$(find irb120_ros2_gazebo)/urdf/platform/mobile_manipulator_controller_config.yaml</parameters>
    </plugin>
  </gazebo>
</xacro:macro>


</robot>
