<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e_robotiq">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur3e_robotiq urdf file -->
    <xacro:include filename="$(find ur_robotiq_description)/urdf/ur3e_robotiq_2f_85_urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur3e_robotiq.ros2_control.xacro" />


    <xacro:ur3e_robotiq_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
