<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robot_description urdf file -->
    <xacro:include filename="$(find robot_description)/urdf/mobile_manipulator.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="robot_description.ros2_control.xacro" />


    <xacro:robot_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
