<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fourwheel_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fourwheel_robot urdf file -->
    <xacro:include filename="$(find platform)/urdf/platform.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="fourwheel_robot.ros2_control.xacro" />


    <xacro:fourwheel_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
